@charset "utf-8";
/* CSS Document */
/* Formats nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6A5ACD;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #483D8B;
}

body {
	font-family: "Arsenal Regular",sans-serif;
	font-size: 20px;
	padding: 0px;
	line-height: 2;
	background-color: #FFFAF0;
}
#section-a{
	padding:20px;
	background:white;
	color:black;
	text-align:center;
}

/*------Meet the Team------*/

#section-b{
	padding: 20px;
	background:white;
	color: black;
	text-align: center;
}

/*------Bios------*/

#section-c{
	display: flex;
	
}

/*-----Contains all the boxes inside------*/

#section-c div{
	padding: 200px 200px;
}


/*------Boxes color scheme-----*/

#section-c .box-1, #section-c .box-3{
	background: #295D9B;
	color: black;
	
}

#section-c .box-2{
	background: #f9f9f9;
	color: black;
	
}

/*----The actual photos and sizing of them------*/

#section-c .box-1{
	background-image:url("nice headshot.PNG");
	background-size: cover;
	width: 33%;
	height: 250px;
	
	
}

#section-c .box-2{
	background-image:url("sahana.png");
	background-size:cover;
	width: 33%;
	height: 250px;

}

#section-c .box-3{
	background-image:url("Natalia HHH111.jpeg");
	background-size: cover;
	width: 33%;
	height: 250px;
}

#section-d {
	display: flex;
	text-align: center;
	overflow: hidden;
	list-style: none;
	font-size: 20px;
	color: black;
	text-decoration: none;
	background: white;
}

#section-d div{
	padding:50px;
	padding-bottom:400px;

}


#section-d .box-4, #section-d .box-5, #section-d .box-6{
	background: white;
	color: #295D9B;
	text-align:center;
	
}

#section-d .box-4{
	height: 50px;
	width: 33%;
	text-align:center;
}

#section-d .box-5{
	height:50px;
	width: 33%;
	background-size:cover;
	text-align:center;
}

#section-d .box-6{
	background-size:cover;
	height:50px;
	width: 33%;
	text-align:center;
}

/*------- Footer ------------*/

 footer {
	width: 100%;
	padding: 60px 0px;
	list-style: none;
	text-decoration: none;
	 
}

li a{
	text-decoration: none;
	color: white;
}
