@charset "utf-8";
/* CSS Document */


body{
	font-family: 'Arsenal Regular',sans-serif;
	font-size: 20px;
	line-height: 2;
	margin: 0 auto;
}

main {
	width: 680px;
	overflow: hidden;
	float: left;
	min-height: 700px;
}

sidebar { 
	width: 260px;
	float: left;
	overflow: hidden;
	min-height: 700px;
}
p{
	padding: 100px;
	align-content: center;
		margin-right: 150px;
		margin-left: 150px;

}


footer {
	width: 100%;
	background-color: #222;
	padding: 60px 0px;
	list-style: none;
}
li a{
	text-decoration: none;
	color: white;
}
