@charset "utf-8";

/* Formats nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b2dfdb;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #b2dfdb;
}

/* Formats the body of document */

body{
	font-family: 'Arsenal Regular',sans-serif;
	font-size: 20px;
	line-height: 2;
	margin: 0 auto;
}

main {
	width: 680px;
	overflow: hidden;
	float: left;
	min-height: 700px;
}

sidebar { 
	width: 260px;
	float: left;
	overflow: hidden;
	min-height: 700px;
}
p{
	padding: 100px;
	align-content: center;
		margin-right: 150px;
		margin-left: 150px;

}

/* Footer css */
page-footer {
	width: 100%;
	background-color: #b2dfdb;
	padding: 60px 0px;
	list-style: none;
}
li a{
	text-decoration: none;
	color: white;
	text-align: left;
}
