.card-panel-blue-grey-lighten-2 {
	rgb(#90a4ae)
}
.grey-text-blue-grey-lighten-2 {
	rgb(#90a4ae)
)
.card-panel-teal-lighten-4 {
	rgb(#b2dfdb)
}
#body {
	text-align: center;
}
 /*------- Footer ------------*/

 footer {
	width: 100%;
	background-color: #22;
	padding: 60px 0px;
	list-style: none;
}
li a{
	text-decoration: none;
	color: white;
}
